nav {
  background-color: #022140;
  .nav-logo,
  .nav-link {
    color: #fff !important;

    &:hover {
      opacity: 0.6;
    }
  }

  .nav-link {
    padding: 10px !important;
  }

  .nav-logo {
    font-size: 36px !important;
  }
}
