.Auth-form-page {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;

  .Auth-error {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    border: 3px solid red;
    border-radius: 8px;
    width: 420px;
    color: red;
    padding: 5px;
    display: none;
  }

  .Auth-form {
    width: 420px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: #022140;
    position: relative;

    .Auth-form-content {
      padding-left: 12%;
      padding-right: 12%;
      color: #fff;
    }

    .Auth-form-title {
      text-align: center;
      margin-bottom: 1em;
      font-size: 24px;
      color: #fff;
      font-weight: 800;
    }
  }

  label {
    font-size: 16px;
    font-weight: 600;
  }

  .link-primary {
    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  .btn {
    color: #fff;
    border: 3px solid #fff;

    &:hover {
      border: 3px solid #fff;
      opacity: 0.75;
    }
  }
}
