.App {
  background-color: #265077;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}

h1 {
  color: #fff;
}
