.infobox-cont {
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 50vw;
  max-height: 40vh;
  flex-direction: column;
  padding: 20px;

  .infobox-title {
    color: #fff;
    font-size: 24px;
  }
  .infobox-desc {
    color: #fff;
    font-size: 18px;

    .infobox-live {
      color: red;
    }

    .infobox-detections {
      color: #877f7d;
    }
    .active {
      color: green;
    }
  }
}
