.infobox-cont {
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 640px;
  flex-direction: column;
  padding: 15px;
  position: relative;

  .infobox-audio {
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }

  .unmute {
    color: #fff;
  }

  .mute {
    color: red;
  }

  .infobox-title {
    color: #fff;
    font-size: 24px;
  }
  .infobox-desc {
    color: #fff;
    font-size: 18px;

    .infobox-live {
      color: red;
    }

    .infobox-detections {
      color: #877f7d;
    }
    .active {
      color: green;
    }

    .infobox-chart {
      padding-top: 15px;

      .infobox-chart-title {
        display: flex;
        justify-content: center;
      }
    }
  }
}
