.pb-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  height: 10vh;
  font-size: 24px;
  color: #fff;
  margin: 20px;
  padding: 5rem 0;

  border: 2px solid #fff;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  .pb-li-preview-pic {
    width: 10vw;
    height: auto;
    border-radius: 10px;
  }
}
